<div class="cell">
    <div class="card index_card">
        <div class="card-section">
            <p><%= link_to "#{review.user.username}'s Rating", coffeee_review_path(@coffeee, review) %><br>
            <%= review.rating %> Stars </p>
        </div>
    </div>
</div>