<div class="cell">
    <div class="card index_card">
        <div class="card-section">
            <p><%= link_to coffeee.name, coffeee_path(coffeee) %><br>
            <%= coffeee.reviews.count %> Reviews </p>
        </div>
    </div>
</div>